#outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#outer :nth-child(1) {
  background-color: gray;
  align-self: flex-start;
  position: fixed;
  top: 0;
}
#outer :nth-child(2) {
  background-color: #b3b3b3;
}
#outer :nth-child(3) {
  background-color: #d9d9d9;
  align-self: flex-end;
  position: fixed;
  bottom: 0;
}
.box {
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexing {
  display: flex;
  align-items: center;
  justify-content: center;
}
