// out: zad_01.css

@box_edge: 50px;
@color: gray;

#outer {
  .flexing;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .size(100%,100%);

  :nth-child(1){
    background-color: @color;
    align-self: flex-start;
    position: fixed;
    top: 0;
  }

  :nth-child(2){
    background-color: lighten(@color,20%);
  }

  :nth-child(3){
    background-color: lighten(@color,35%);
    align-self: flex-end;
    position: fixed;
    bottom: 0;
  }
}

.box {
  .size(@box_edge,@box_edge);
  color: lighten(@color,75%);
  font-weight: bold;
  .flexing;
}

.flexing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size(@width,@height){
  width: @width;
  height: @height;
}
