// out: zad_02.css

@color: silver;

html {
  height: 100%;
}

html, body {
  margin: 0;
  min-height: 100% !important;
  height: 100%;
}

#all {
  display: flex;
  flex-direction: row;
  height: inherit;
}

#menu {
  background-color: @color;
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;

  p {
    background-color: lighten(@color,25%);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darken(@color,30%);
    border-left: 3px solid darken(@color,30%);
    border-top-left-radius: 25%;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

#main {
  background-color: lighten(@color,10%);
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll;
}
