html {
  height: 100%;
}
html,
body {
  margin: 0;
  min-height: 100% !important;
  height: 100%;
}
#all {
  display: flex;
  flex-direction: row;
  height: inherit;
}
#menu {
  background-color: silver;
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
}
#menu p {
  background-color: #ffffff;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #747474;
  border-left: 3px solid #747474;
  border-top-left-radius: 25%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#main {
  background-color: #dadada;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll;
}
