// out: zad_03.css

@color: silver;

html, body {
    height: 100%;
    margin: 0px;

    @media(max-width: 720px) {
      background-color: lighten(@color, 5%);
    }
}

#all {
    margin: 0px;
    display: flex;
    min-height: 100%;
    height:auto !important;
    overflow: hidden !important;
    @media(max-width: 720px){
      flex-direction: column;
      align-content: space-between;
      align-items: center;
    }

  #menu {
      background-color: darken(@color,5%);

      @media(min-width: 961px) {
        width: 200px;
        flex-shrink: 0;
      }

      @media (max-width: 960px) and (min-width: 721px) {
        width: 150px;
      }

      @media(max-width: 720px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      p {
        @media(min-width: 721px) {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          width: 150px;
          .border1;
        }

        @media(max-width: 720px) {
          width: 65px;
          margin-bottom: 5px;
          margin-top: 0px;
          font-size: smaller;
          color: black;
          text-align: center;
          font-weight: bold;
          .border2;
        }
      }
  }

  #main {
      width: 100%;
      background-color: lighten(@color,5%);

      @media(max-width: 720px) {
        min-height: 100% !important;
        height: 100%;
      }

      h1, h2, p {
        margin: 20px;
      }
  }
}

.border1 {
  background-color: lighten(@color,30%);
  border-top-left-radius: 10px;
  border-top: 1px solid darken(@color, 30%);
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: darken(@color, 30%);
}

.border2 {
  background-color: white;
  border: 0px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
